body{
    color: white;
    font-size: 25px;
}
h1{text-align: center;}
#link{
    text-decoration: none;
    font-size: 30px;
    margin-left: 30px;
}
#sectionContraseñas{
    text-align: center;
    
}
#btnInput{
    gap:35px;
    display: flex;
    justify-content: center;
}
#containerContraseñas{
    font-size: 35px;
    margin-top: 50px;
    color: wheat;
    background-color: rgba(97, 91, 91, 0.781);
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    margin-left: 35rem;   
     margin-right: 35rem;

}
#btnContraseña{
    background-color: rgb(67, 118, 226);    color: white;
    padding: 15px;
    border-radius: 25px;
    font-size: 25px;
}
#btnContraseña:hover{
    cursor: pointer;
    transform: scale(1.1);
    

}
#inputNumb{
    border-radius: 50px 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: burlywood;
    color: rgb(141, 9, 35);
    font-weight: bolder;
    font-size: 25px;
}
#inputNumb:hover{
    cursor: pointer;
}