body {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
h2{font-size: 35px;}
.link {
    text-decoration: none;
    color: wheat;
    font-size: 30px;
}

#containerEnlace {
    background-color: rgba(97, 91, 91, 0.781);
    padding: 30px;
    list-style: none;
    border-radius: 25px;
    width: fit-content;

}

#links {
    text-decoration: none;
    color: red;
    padding: 25px;
    font-size: 25px;


}
.btnRemove{
    background-color: black;
    color: white;
    font-size: 20px;
}
.btnRemove:hover{cursor: pointer;
    
transform: scale(1.1);}


#sectionReloj {
    text-align: center;
}

#hora {
    font-size: 50px;
}

#fecha {

    justify-content: center;

    font-weight: 900;

    display: flex;
    align-items: center;
}

#total {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
#tiempoCenter{
display: flex;
justify-content: center;
text-align: center;}

#sectionTiempo {
    margin-top: 20px;
    width: 1000px;
    height: 300px;
    overflow: auto;
    text-align: center;
    background-color: rgba(97, 91, 91, 0.781);
    border-radius: 25px;

}

#containerTiempos {
    justify-content: center;
    display: flex;
    gap: 3rem;
    font-size: 25px;
    align-items: center;
padding: 25px;
}
#horas{
    background-color: brown;
    font-size: 20px;
    font-weight: bold;
}
.grados{
    font-size: 20px;
}
.imgTiempo{
    width: 100px;
  }

#containerDos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

#fecha {

    font-size: 30px;
    border-radius: 25px;
    justify-content: center;

    font-weight: 900;

    background-color: rgba(194, 206, 149, 0.932);
    width: fit-content;
    padding: 25px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.frases {
    padding: 25px;
    background-color: rgba(172, 255, 47, 0.726);
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
}

#semana {
    color: rgb(179, 27, 27);
    margin-left: 25px
}



#containerContraseñas {
    font-size: 35px;
    margin-top: 50px;
    color: wheat;
    background-color: rgba(97, 91, 91, 0.781);
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}

#btnEnlace {
    background-color: rgb(67, 118, 226);
    padding: 20px;
    border-radius: 25px;
    color: white;

}

#btnEnlace:hover {
    cursor: pointer;
    transform: scale(1.1);


}

#btnContraseña {
    background-color: rgb(67, 118, 226);
    padding: 20px;
    border-radius: 25px;
    color: white;

}

#btnContraseña:hover {
    cursor: pointer;
    transform: scale(1.1);


}

#inputNumb{
    border-radius: 50px 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: burlywood;
    color: rgb(141, 9, 35);
    font-weight: bolder;
    font-size: 25px;
}
#inputNumb:hover{
    cursor: pointer;
}
#btnInput{
    gap:35px;
    display: flex;
    justify-content: center;
}
#nombreEnlace{
    border-radius: 25px;
    background-color: antiquewhite;
    width: 200px;
    height:40px;
}
#enlace{
    border-radius: 25px;
    background-color: antiquewhite;
    width: 200px;
    height:40px;

}