
    #containerTiempos {
        justify-content: center;
        display: flex;
        gap: 3rem;
        font-size: 25px;
        width: 100vw;
        height: 10vh;
  
    }
    h2{text-align: center;}

#containerDos{
    display: flex;
    justify-content: center;
    gap:3rem;
    flex-wrap: wrap;
 
    align-items: center;
}
h1{
    text-align: center;
}
body{
    color: white;
    width: 2000px;
}
#link{
    text-decoration: none;
    font-size: 30px;
    margin-left: 30px;
}

