#container{
    display: flex;
    justify-content: center;
    gap:3rem;
   
}
#containerDos{
    display: flex;
    justify-content: center;
    gap:3rem;
    flex-wrap: wrap;
 
    align-items: center;
}
h1{
    text-align: center;
}
body{
    color: white;
}
#link{
    text-decoration: none;
    color:wheat
}