h1{text-align: center;
color: wheat;}
#hora{
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    background-color: aqua;
    border-radius: 25px; 
    padding: 25px;
    margin-left:600px ;
    margin-right:600px ;
    
}
#link{
    text-decoration: none;
    font-size: 30px;
    margin-left: 30px;
}
body{color: white;
   
  
}
#containerReloj{
    color:white;
  

    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;}
#fecha{
 
    font-size: 30px;
    border-radius: 25px;
    justify-content: center;
 
    font-weight: 900;
    
    background-color: rgb(194, 206, 149);
    padding: 25px;
    display: flex;
align-items: center;
margin-top: 25px;
margin-left:600px ;
margin-right:600px ;

}
.frases{
    padding: 25px;
    background-color:greenyellow ;
    display: flex;
    justify-content: center;
    border-radius: 25px; 
    font-size: 20px;   
    color:blue;
    font-weight: bold;
    margin-left:600px ;
margin-right:600px ;

}
#semana{
    color:rgb(179, 27, 27);
    margin-left:25px
}
